@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/*! shared style */
.flex {
  display: flex;
  align-items: center;
}
.width {
  max-width: 1160px;
  margin: 0 auto;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 60px;
  border: none;
  border-radius: 12px;
  background-color: rgb(254, 163, 1);
}
.hide {
  display: none;
}
.btn-primary {
  background-color: rgb(17, 17, 17);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 10px 47px;
}
.column {
  flex-direction: column;
}
/*! Header section  */
.header-logo-section {
  gap: 11px;
}
.header {
  margin-top: 18px;
}
.header-container {
  justify-content: space-between;
  padding: 20px 0;
}
.nav-links {
  gap: 32px;
}
.header-title {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
}
.header-logo-section img {
  width: 3.8rem;
  height: 3.8rem;
}
.link {
  color: rgb(254, 163, 1);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

/*! banner section  */
.banner-container {
  justify-content: space-between;
  padding: 0;
}
.banner-title {
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
}

.banner-left {
  max-width: 640px;
  margin-top: 20px;
}
.banner-description {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 24px 0;
}
.banner-right img {
  width: 100%;
}
/*! main section  */
.main-container {
  background: url("../assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.curriculam-title {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  padding-top: 60px;
  text-align: center;
}
.curriculam-card div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.curriculam-card img {
  padding: 65px 0 45px 0;
}
.curriculam-card h4 {
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
}
.curriculam-card p {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  text-align: center;
  margin: 33px 0;
}
.cards {
  justify-content: space-between;
  margin-top: 80px;
}

.curriculam-card button {
  font-family: Quicksand;
  font-size: 15.09px;
  border: none;
  background: transparent;
  font-weight: 700;
  text-align: center;
}
.curriculam-card {
  width: 368px;
  height: 476px;
  border-radius: 18.86px;
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-bg-yellow {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-bg-purple {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.yellow {
  color: rgb(240, 170, 0);
}
.orange {
  color: rgb(254, 163, 1);
}
.blue {
  color: rgb(1, 172, 253);
}
.aqua {
  color: rgb(5, 212, 223);
}
.purple {
  color: rgb(93, 88, 239);
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 12px;
}
.arrow {
  background-color: rgb(254, 163, 1);
  padding: 17px 22px;
  border: none;
  font-size: 24px;
  color: white;
  border-radius: 30px;
}

/*! story section  */
.images {
  justify-content: space-between;
  margin-top: 80px;
}
.left {
  width: 540.27px;
  height: 630.52px;
  background-color: #fff;
  border-radius: 16px;
}
.left img {
  border-radius: 16px 16px 0px 0px;
}
.left h4 {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
  padding: 62px 100px 51px 38px;
}
.left p {
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  padding: 0px 69px 34px 38px;
}
.image {
  width: 290px;
  height: 300px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}
.image img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 177px;
  z-index: 1;
}
.image p {
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  z-index: 2;
  position: absolute;
  border: none;
  padding: 10px 20px;
  text-transform: capitalize;
  margin-top: -25px;
  margin-left: 35px;
}
.image div span {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 15.34px;
  font-weight: 700;
  position: absolute;
  line-height: 28.76px;
  margin-top: 36px;
  padding: 0 20px;
}
.color {
  background-color: rgb(93, 88, 240) !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.center {
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 60px;
}

/* !footer section  */
.footer {
  background-color: rgb(1, 172, 253);
}
.footer-container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 123px 0 174px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-title-left {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 39.51px;
  margin-left: 10px;
}
.footer-title {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
}
.footer-links {
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin-top: 32px;
}
.footer-link {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
}
.footer-description {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 400px;
  margin-top: 35px;
}
.footer-right{
  margin-top: 32px;
}
/* ! responsive for mobile device */

@media screen and (max-width: 576px) {
  .nav-links,
  .btn,
  .header-title,
  .left {
    display: none;
  }
  .hide {
    display: inline;
  }
  .header-logo-section img {
    width: 39px;
    height: 46px;
  }
  .header-container {
    padding: 12px 20px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .images {
    flex-direction: column;
  }
  .banner-container,
  .main-container {
    padding: 0 10px;
  }
  .banner-left {
    text-align: center;
  }
  .menu {
    width: 30px;
    height: 30px;
  }
  .banner-right {
    margin-top: 28px;
  }
  .banner-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .banner-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin: 18px 0;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  .arrows {
    display: none;
  }
  .image {
    width: 173px;
    height: 250px;
    background-color: #fff;
    border-radius: 16px;
  }
  .image img {
    width: 100%;
  }
  .images {
    margin-top: 20px;
  }
  .image p {
    font-size: 9.13px;
    font-weight: 500;
    line-height: 17.12px;
    margin-left: 20px;
  }
  .grid {
    gap: 12px;
  }
  .image div span {
    font-size: 9.13px;
    font-weight: 700;
    line-height: 17.12px;
    margin-top: 25px;
  }
  .curriculam-card {
    width: 357px;
    height: 390px;
  }
  .card h4 {
    font-size: 16.25px;
    font-weight: 700;
    line-height: 20.75px;
  }
  .card p {
    font-size: 10.22px;
    font-weight: 500;
    line-height: 19.16px;
    margin: 23px 0;
  }
  .center {
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .footer-container {
    padding-inline: 21px;
    flex-direction: column;
  }
  .footer-title-left {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 35.73px;
    font-weight: 700;
    line-height: 33.5px;
  }
  .footer-description {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 22px;
  }
  .footer-title{
    margin-top: 32px;
  }
  .footer-links{
    margin-top: 27px;
  }
  .footer-right{
    margin-top: 35px;
  }
  .footer-container{
    padding: 66px 15px 60px;
  }
}
