@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* div{
    background: url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    width: 100%;
    height: 4000px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/*! shared style */
.flex {
  display: flex;
  align-items: center;
}
.width {
  max-width: 1160px;
  margin: 0 auto;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 60px;
  border: none;
  border-radius: 12px;
  background-color: rgb(254, 163, 1);
}
.hide {
  display: none;
}
.orange {
  color: rgb(254, 163, 1);
}
.blue {
  color: rgb(1, 172, 253);
}
.aqua {
  color: rgb(5, 212, 223);
}
.purple {
  color: rgb(93, 88, 239);
}
.btn-primary {
  background-color: rgb(17, 17, 17);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 10px 47px;
}
/*! Header section  */
.header-logo-section {
  gap: 11px;
}
.header {
  margin-top: 18px;
}
.header-container {
  justify-content: space-between;
  padding: 20px 0;
}
.nav-links {
  gap: 32px;
}
.header-title {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
}
.header-logo-section img {
  width: 3.8rem;
  height: 3.8rem;
}
.link {
  color: rgb(254, 163, 1);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

/*! banner section  */
.banner-container {
  justify-content: space-between;
}
.banner-title {
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
}

.banner-left {
  max-width: 640px;
  margin-top: 20px;
}
.banner-description {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 24px 0;
}

/*! responsive for mobile device */
@media screen and (max-width: 576px) {
  .nav-links,
  .btn,
  .header-title {
    display: none;
  }
  .hide {
    display: inline;
  }
  .header-logo-section img {
    width: 39px;
    height: 46px;
  }
  .header-container {
    padding: 12px 20px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-left {
    text-align: center;
  }
  .menu {
    width: 30px;
    height: 30px;
  }
  .banner-right {
    margin-top: 28px;
  }
  .banner-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .banner-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin: 18px 0;
  }
}
